
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }


img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

div { position: absolute; }

#content-container { display: block; position: relative; width: 1440px; width: 1440px; height: 1524px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }


#page_desktop___1_ek1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1524px;
}

#_bg__desktop___1_ek2 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1524px;
	background:rgba(255,255,255,1);
}

#carbon_email {
	top: 0px;
	left: 0px;
	width: 32px;
	height: 32px;
}
#fluent_speaker_2_32_regular {
	top: 0px;
	left: 48px;
	width: 32px;
	height: 32px;
}

#adobe_indesign_cc_icon_1 {
	top: 75px;
	left: 80px;
	width: 91px;
	height: 90px;
}


#business {
	top: 71px;
	left: 180px;
	width: 305px;
	height: 96px;
	overflow: hidden;
	font-family: Inter;
	font-size: 50px;
	font-weight: bold;
	text-align: left;
	color:#000000;
}


#logo_here {
	top: 120px;
	left: 181px;
	width: 341px;
	height: 83px;
	overflow: hidden;
	font-family: Inter;
	font-size: 32px;
	font-weight: bold;
	text-align: left;
	color:#D3D7DF;
}


#rectangle_4 {
	top: 221px;
	left: 600px;
	width: 437px;
	height: 426px;
	-ms-border-radius: 134px;
	-o-border-radius: 134px;
	-moz-border-radius: 134px;
	-webkit-border-radius: 134px;
	border-radius: 134px;
	background:rgba(255,255,255,1);
}


#wepik_photo_mode_2022631_82012_1 {
	top: 209px;
	left: 619px;
	width: 460.54px;
	height: 450px;
}


#vector_1 {
	top: 181px;
	left: 605px;
	width: 190px;
	height: 169px;
}


#rectangle_5 {
	opacity:0.68999999761581;
	top: 393px;
	left: 439px;
	width: 336px;
	height: 285px;
	background:rgba(118,102,230,0.69);
	
	
}


#we_can {
	top: 414px;
	left: 456px;
	width: 153px;
	height: 61px;
	overflow: hidden;
	font-family: Inter;
	font-size: 32px;
	font-weight: bold;
	text-align: left;
	color:#000000;
}


#we_can_ek1 {
	top: 414px;
	left: 456px;
	width: 148px;
	height: 61px;
	overflow: hidden;
	font-family: Inter;
	font-size: 32px;
	text-align: left;
	color:#EFF1F5;
}


#provide_you {
	top: 453px;
	left: 463px;
	width: 280.5px;
	height: 66.5px;
	overflow: hidden;
	font-family: Inter;
	font-size: 35px;
	font-weight: bold;
	text-align: left;
	color:#EFF1F5;
}


#fitnest_idea_ {
	top: 495px;
	left: 463px;
	width: 296.5px;
	height: 66.5px;
	overflow: hidden;
	font-family: Inter;
	font-size: 35px;
	font-weight: bold;
	text-align: left;
	color:#EFF1F5;
}


#orem_ipsum_dolor_sit_amet__consectetur_adipiscing_elit__nam_tempor_mi_nec_dui_hendrerit__vitae_cursus_nibh_bibendum_ {
	top: 538px;
	left: 463px;
	width: 311.5px;
	height: 154.5px;
	overflow: hidden;
	font-family: Inter;
	font-size: 19px;
	text-align: left;
	color:#FFFFFF;
}


#rectangle_6 {
	top: 793px;
	left: 585px;
	width: 368px;
	height: 336px;
	background:rgba(0,0,0,1);
}


#__000_1234_5678 {
	top: 1419px;
	left: 277px;
	width: 224px;
	height: 47.5px;
	overflow: hidden;
	font-family: Inter;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	color:#000000;
}


#creative_idea {
	top: 943px;
	left: 250px;
	width: 244px;
	height: 61px;
	overflow: hidden;
	font-family: Inter;
	font-size: 32px;
	font-weight: bold;
	text-align: left;
	color:#000000;
}


#promotion {
	top: 955px;
	left: 1035px;
	width: 200px;
	height: 61px;
	overflow: hidden;
	font-family: Inter;
	font-size: 32px;
	font-weight: bold;
	text-align: left;
	color:#000000;
}

#el_idea_alt {
	top: 829px;
	left: 305px;
	width: 118px;
	height: 115px;
}
#group {
	top: -115px;
	left: 0px;
	width: 118px;
	height: 115px;
}

#vector {
	top: 0px;
	left: 0px;
	width: 118px;
	height: 115px;
}


#vector_4 {
	top: 999px;
	left: 1019px;
	width: 181.5px;
	height: 0px;
}


#vector_3 {
	top: 994px;
	left: 674px;
	width: 171px;
	height: 0px;
}


#vector_5 {
	top: 994px;
	left: 276px;
	width: 171px;
	height: 0px;
}


#orem_ipsum_dolor_sit_amet__consectetur_adipiscing_elit__nam_tempor_mi_nec_dui_hendrerit__vitae_cursus_nibh_bibendum__ek1 {
	top: 999px;
	left: 223px;
	width: 303px;
	height: 137.5px;
	overflow: hidden;
	font-family: Inter;
	font-size: 21px;
	text-align: center;
	color:#B6B9BF;
}


#orem_ipsum_dolor_sit_amet__consectetur_adipiscing_elit__nam_tempor_mi_nec_dui_hendrerit {
	top: 999px;
	left: 612px;
	width: 303px;
	height: 137.5px;
	overflow: hidden;
	font-family: Inter;
	font-size: 21px;
	text-align: center;
	color:#B6B9BF;
}


#orem_ipsum_dolor_sit_amet__consectetur_adipiscing_elit__nam_tempor_mi_nec_dui_hendrerit_ek1 {
	top: 1016px;
	left: 982px;
	width: 303px;
	height: 137.5px;
	overflow: hidden;
	font-family: Inter;
	font-size: 21px;
	text-align: center;
	color:#B6B9BF;
}


#productivity {
	top: 943px;
	left: 673px;
	width: 229px;
	height: 61px;
	overflow: hidden;
	font-family: Inter;
	font-size: 32px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#rectangle_8 {
	top: 815px;
	left: 704px;
	width: 120px;
	height: 121px;
	-ms-border-radius: 161px;
	-o-border-radius: 161px;
	-moz-border-radius: 161px;
	-webkit-border-radius: 161px;
	border-radius: 161px;
	background:rgba(151,71,255,1);
}

#icon_park_new_computer {
	top: 840px;
	left: 721px;
	width: 84px;
	height: 78px;
}
#group_ek1 {
	top: -49px;
	left: 10px;
	width: 63px;
	height: 58.5px;
}
#group_ek2 {
	top: 0px;
	left: 0px;
	width: 63px;
	height: 58.5px;
}

#vector_ek1 {
	top: 13px;
	left: 0px;
	width: 63px;
	height: 45.5px;
}


#vector_ek2 {
	top: 117px;
	left: 15px;
	width: 35px;
	height: 0px;
}


#vector_ek3 {
	top: 91px;
	left: 32px;
	width: 0px;
	height: 13px;
}


#rectangle_9 {
	top: 831px;
	left: 1057px;
	width: 120px;
	height: 121px;
}


#vector_ek4 {
	top: 873px;
	left: 1080px;
	width: 74.69px;
	height: 38.74px;
}


#rectangle_10 {
	top: 1350px;
	left: 572px;
	width: 824px;
	height: 130px;
	background:rgba(217,217,217,1);
}


#vector_ek5 {
	top: 1381px;
	left: 595px;
	width: 21px;
	height: 10.57px;
}


#gen_in_touch {
	top: 1398px;
	left: 278px;
	width: 138px;
	height: 32.5px;
	overflow: hidden;
	font-family: Inter;
	font-size: 17px;
	text-align: center;
	color:#443B3B;
}

#akar_icons_location {
	top: 1421px;
	left: 1011px;
	width: 24px;
	height: 24px;
}
#group_ek3 {
	top: 2px;
	left: 4px;
	width: 16px;
	height: 20px;
}

#vector_ek6 {
	top: 5px;
	left: 5px;
	width: 6px;
	height: 6px;
}


#vector_ek7 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 20px;
}

#tabler_phone_call {
	top: 1372px;
	left: 1011px;
	width: 24px;
	height: 24px;
}

#vector_ek8 {
	top: 3px;
	left: 3px;
	width: 18px;
	height: 18px;
}

#tabler_phone_call_ek1 {
	top: 1419px;
	left: 246px;
	width: 34px;
	height: 30px;
}

#vector_ek9 {
	top: 3.75px;
	left: 4.25px;
	width: 25.5px;
	height: 22.5px;
}


#business_info_outlook_com {
	top: 1375px;
	left: 629px;
	width: 240px;
	height: 32.5px;
	overflow: hidden;
	font-family: Inter;
	font-size: 17px;
	text-align: center;
	color:#000000;
}


#www_yourwebsite_com {
	top: 1426px;
	left: 649px;
	width: 200px;
	height: 32.5px;
	overflow: hidden;
	font-family: Inter;
	font-size: 17px;
	text-align: center;
	color:#000000;
}


#new_york__usa__city {
	top: 1424px;
	left: 1057px;
	width: 175px;
	height: 32.5px;
	overflow: hidden;
	font-family: Inter;
	font-size: 17px;
	text-align: center;
	color:#000000;
}


#__000_1234_5678_ek1 {
	top: 1375px;
	left: 1044px;
	width: 180px;
	height: 38px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color:#000000;
}

#el_website {
	top: 1421px;
	left: 595px;
	width: 24px;
	height: 25px;
}

#vector_ek10 {
	top: 0.8px;
	left: 0px;
	width: 24px;
	height: 23.4px;
}


#vector_6 {
	top: 531px;
	left: 986px;
	width: 105.87px;
	height: 141.79px;
}
